
<!-- Attributes inherited by all camera-derived models. -->

<ul>
<li>updatePeriod 0.1<ul>
<li>Time interval between frames (sec)</li></ul>
</li></ul>
<p>
<ul>
<li>saveFrames NULL<ul>
<li>If non-null, frames will be written to the specified directory (good for making movies).</li></ul>
</li></ul>
<p>
<ul>
<li>polygonMode "fill"<ul>
<li>Rendering mode; valid values are "fill", "line" and "point".</li></ul>
</li></ul>
<p>
<ul>
<li>shadeModel "smooth"<ul>
<li>Shading method; "smooth" or "flat".</li></ul>
</li></ul>
<p>
<ul>
<li>displayAxes false<ul>
<li>Display body axes for each body (useful for debugging).</li></ul>
</li></ul>
<p>
<ul>
<li>displayCoM false<ul>
<li>Display center of mass for each body (useful for debugging).</li></ul>
</li></ul>
<p>
<ul>
<li>displayRays false<ul>
<li>Display sensor rays (useful for debugging).</li></ul>
</li>
</ul>
