
<!-- Attributes shared by all models. -->

<ul>
<li> id (string)
<ul>
<li> The model ID string (used by libgazebo to identify models).
<li> Default: (empty)
</ul>
</ul>

<ul>
<li>xyz (float tuple, meters)
<ul>
<li>Model position (x, y, z, in meters).
<li>Default: 0 0 0
</ul>
</ul>

<ul>
<li>rpy (float tuple, degrees)
<ul>
<li>Model orientation in Euler angles: roll, pitch, yaw.
<li>Default: 0 0 0
</ul>

<ul>
<li>gravity (bool)
<ul>
<li>Enable/disable effect of gravity on this model
<li>Default: true
</ul>

<ul>
<li>enable (bool)
<ul>
<li>Enable/disable the model's bodies (so it doesn't fall, for example)
<li>Default: true
</ul>

</ul>
