
<h2> 0.4.0 </h2>

<p>This release of Gazebo includes a number of new models and
interfaces, and is built around an all-new rendering engine. 
New features include:
<ul>
<li> Pioner2Sonars, Pioneer2Gripper models (thanks to Carle Cote).
<li> Terrain model (creates realistic outdoor terrains from elevation data).
<li> Textures on primitives (ground planes, boxes, etc.).
<li> Improved control of lighting (user placeable light-sources).
<li> Improved GUI, including the ability to manipulate (translate) objects.
</ul>

Installation notes:
<ul>
<li> Gazebo requires the <a href="http://ode.org/">Open Dynamics
Engine (ODE)</a> version 0.039 (with the OpCode option enabled).  ODE
must be installed <b>before</b> Gazebo.
<li> Gazebo uses the <a href="http://gdal.maptools.org/">Geospatial
Data Abstraction Library (GDAL)</a> version 1.1.9 or above; GDAL must
be installed <b>before</b> Gazebo.
<li> (Optional) Gazebo 0.4.0 is compatible with Player version 1.5;
Player must be installed <b>after</b> Gazebo.
</ul>
With the exception of the packages noted above, Gazebo should build on
any reasonably modern Linux distribution.  It has also been tested on
Mac OS X 10.2 using the Apple X11 package and Fink (see the manual for
OS X specific build instructions).

<p><b>A utility script called <tt>depMerge</tt> is included in the
distribution</b>; this script will automatically install ODE and GDAL
on most Linux systems.

<p>Installation example: for a default system-wide install (requires root
access), use the following steps...
<ul>
<li> Use the <tt>depMerge</tt> script to install ODE and GDAL (or
install these manually according to the instructions included with
those packages).
<li> Install Gazebo:
<br><tt>  <gazebo-src-XXX>$ ./configure; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  <player-src-XXX>$ ./configure; make; make install </tt><br>
</ul> 
For an alternate user-local-only install (does not require root
access), read the <a
href="http://playerstage.sourceforge.net/faq.html#local">FAQ
entry</a>.

<p> In addition to these Release Notes, please read the General Usage
chapter of the Gazebo Manual, available online <a
href="http://playerstage.sourceforge.net/doc/Gazebo-manual-0.4.0-html/node1.html">here</a>.



<h2> 0.3.0 </h2>

<p> In addition to these Release Notes, please read the General Usage
chapter of the Gazebo Manual, available online <a
href="http://playerstage.sourceforge.net/doc/Gazebo-manual-0.3.0-html/node1.html">here</a>.

<p>This release includes a number of new models and interfaces, and
sports improved integration with the Player device server.  Features
include:
<ul>
<li> New interfaces: camera, gps, power, ptz and truth.
<li> New models: GarminGPS, TruthWidget, Shrimp.
<li> Inverted pendulum controller for the Segway RMP.
<li> Fix for the 180 degree rotation in the MapExtruder model.
</ul>

Installation notes:
<ul>
<li> Gazebo relies on the ODE engine for modelling rigid body
dynamics; you will need to download and install this package
<i>before</i> building Gazebo.  ODE can be obtained from <a
href="http://opende.sourceforge.net/ode.html">http://opende.sourceforge.net/ode.html</a>.
Unpack the tarball and follow the instructions in the INSTALL file.
<li> The MapExtruder model requires libpnm, which can be found in the
netpbm package.  Make sure this is installed on your system if you
wish to use extruded maps.
<li> Player users will need to install (or re-install) Player
<i>after</i> installing Gazebo.  To make use of the Gazebo drivers,
use the <tt>--enable-gazebo</tt> configuration option when building Player.
</ul>

Compatability (version) notes: 
<ul> 
<li> Gazebo is compatable with ODE versions 0.039 (and above), and
Player version 1.4rc2 (and above).
<li> Gazebo should work on any reasonably modern Linux distribution.
It has also been tested on Mac OS X 10.2 using the Apple X11 package
and Fink (see the manual for OS X specific build instructions).
</ul>

Installation example: for a default system-wide install (requires root
access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/usr/local/include/ode</tt> and the
library to <tt>/usr/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --enable-gazebo; make; make install </tt><br>
</ul> 

Installation example: for an alternate user-only install (does not
require root access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/home/username/local/include/ode</tt> and the
library to <tt>/home/username/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure --prefix=/home/username/local; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --prefix=/home/username/local --enable-gazebo; make; make install </tt><br>
</ul>



<h2> 0.2.0 </h2>

<p>
This release includes a number of new models, minor bugfixes, and
significant performance enhancements.  The Pioneer2DX and ClodBuster
models have been added, the MapExtruder now supports positional
placement in the world, and OpenGL is now the core rendering library
(reduced number of files and architecture complexity). Collision
detection no longer occurs within a model to increase speed and
stability.

In addition to these Release Notes, please read the General Usage
chapter of the Gazebo Manual, available online <a
href="http://playerstage.sourceforge.net/doc/Gazebo-manual-0.2.0-html/node1.html">here</a>.

<p>This release includes the following models:
<ul>
<li> ActivMedia Pioneer2AT robot
<li> ActivMedia Pioneer2DX robot
<li> SegwayRMP robot
<li> ClodBuster robot (thanks to Pranav Srivastava at UPenn)
<li> SICK LMS200 scanning laser range-finder
<li> Sony VID30 pan-tilt-zoom camera
<li> MapExtruder for generating "extruded" worlds from image files
<li> SimpleSolid for generating simple shapes (boxes, spheres, etc)
</ul>

<p> Some additional important notes:
<ul>
<li> Two new properties have been added to objects: retro-reflectivity
and a fiducial ID.  The SickLMS200 model will now return both the
reflectivity of an object (through the {\tt gz_laser} interface) and
the objects fiducial ID (through the {\tt gz_fiducial} interface).
Note, however, that this functionality is not supported in Player
1.4rc1 (it will appear in the next Player release).
<li> While the camera is fully functional, Player does not
yet support image capture (on the way).
<li> The world file format is still in flux, and is likely to change in
future version.
<li> The internal API for writing models has not been finalized; expect
some changes in future versions.
</ul>

Installation notes:
<ul>
<li> Gazebo relies on the ODE engine for modelling rigid body dynamics; you
will need to download and install this package <i>before</i> building
Gazebo.  ODE can be obtained from 
<a href="http://opende.sourceforge.net/ode.html">http://opende.sourceforge.net/ode.html</a>.
Unpack the tarball and follow the instructions in the INSTALL file.
<li> The MapExtruder model requires libpnm, which can be found in the
netpbm package.  Make sure this is installed on your system if you
wish to use extruded maps.
<li> Player users will need to install (or re-install) Player
<i>after</i> installing Gazebo.  To make use of the Gazebo drivers,
use the <tt>--enable-gazebo</tt> configuration option when building Player.
</ul>

Compatability notes: 
<ul> 
<li> Gazebo is known to work with ODE versions 0.035 and 0.039, and
Player version 1.4rc1.
<li> Gazebo should work on any reasonably modern Linux distribution.
It has also been tested on Mac OS X 10.2 using the Apple X11 package
and Fink (see the manual for OS X specific build instructions).
</ul>

Installation example: for a default system-wide install (requires root
access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/usr/local/include/ode</tt> and the
library to <tt>/usr/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --enable-gazebo; make; make install </tt><br>
</ul> 

Installation example: for an alternate user-only install (does not
require root access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/home/username/local/include/ode</tt> and the
library to <tt>/home/username/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure --prefix=/home/username/local; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --prefix=/home/username/local --enable-gazebo; make; make install </tt><br>
</ul>


<h2> 0.1.1 </h2>

<p>This is "perfomance enhancement" release of the Gazebo simulation
engine, addressing some of the performance issues observed with
version 0.1.0 when using large worlds.  This version runs at least an
order of magnitude faster.  A new model, SimpleSolid, has also been
added.

In addition to these Release Notes, please read the General Usage
chapter of the Gazebo Manual, available online <a
href="http://playerstage.sourceforge.net/doc/Gazebo-manual-0.1.0-html/node1.html">here</a>.

<p>This release includes the following models:
<ul>
<li> ActivMedia Pioneer2AT robot
<li> SegwayRMP robot
<li> SICK LMS200 scanning laser range-finder
<li> Sony VID30 pan-tilt-zoom camera
<li> MapExtruder for generating "extruded" worlds from image files
<li> SimpleSolid for generating simple shapes (boxes, spheres, etc)
</ul>

<p> Some additional important notes:
<ul>
<li> While the camera is fully functional, Player does not
yet support image capture (on the way).
<li> The world file format is still in flux, and is likely to change in
future version.
<li> The internal API for writing models has not been finalized; expect
some changes in future versions.
</ul>

Installation notes:
<ul>
<li> Gazebo relies on the ODE engine for modelling rigid body dynamics; you
will need to download and install this package <i>before</i> building
Gazebo.  ODE can be obtained from 
<a href="http://opende.sourceforge.net/ode.html">http://opende.sourceforge.net/ode.html</a>.
Unpack the tarball and follow the instructions in the INSTALL file.
<li> The MapExtruder model requires libpnm, which can be found in the
netpbm package.  Make sure this is installed on your system if you
wish to use extruded maps.
<li> Player users will need to install (or re-install) Player
<i>after</i> installing Gazebo.  To make use of the Gazebo drivers,
use the <tt>--enable-gazebo</tt> configuration option.  
</ul>

Compatability notes: 
<ul> 
<li> Gazebo is known to work with ODE versions 0.035 and 0.039, and
Player version 1.4rc1.
<li> Gazebo should work on any reasonably modern Linux distribution.
It has also been tested on Mac OS X 10.2 using the Apple X11 package
and Fink (see the manual for OS X specific build instructions).
</ul>

Installation example: for a default system-wide install (requires root
access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/usr/local/include/ode</tt> and the
library to <tt>/usr/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --enable-gazebo; make; make install </tt><br>
</ul> 

Installation example: for an alternate user-only install (does not
require root access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/home/username/local/include/ode</tt> and the
library to <tt>/home/username/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure --prefix=/home/username/local; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --prefix=/home/username/local --enable-gazebo; make; make install </tt><br>
</ul>




<h2> 0.1.0 </h2>

<p>This is the first official release of the Gazebo simulation engine
(hooray).  In addition to these Release Notes, please read the General
Usage chapter of the Gazebo Manual, available online <a
href="http://playerstage.sourceforge.net/doc/Gazebo-manual-0.1.0-html/node1.html">here</a>.

<p>This release includes the following models:
<ul>
<li> ActivMedia Pioneer2AT robot
<li> SegwayRMP robot
<li> SICK LMS200 scanning laser range-finder
<li> Sony VID30 pan-tilt-zoom camera
<li> MapExtruder for generating "extruded" worlds from image files
</ul>

<p> Some additional important notes:
<ul>
<li> While the camera is fully functional, Player does not
yet support image capture (on the way).
<li> The world file format is still in flux, and is likely to change in
future version.
<li> The internal API for writing models has not been finalized; expect
some changes in future versions.
</ul>

Installation notes:
<ul>
<li> Gazebo relies on the ODE engine for modelling rigid body dynamics; you
will need to download and install this package <i>before</i> building
Gazebo.  ODE can be obtained from 
<a href="http://opende.sourceforge.net/ode.html">http://opende.sourceforge.net/ode.html</a>.
Unpack the tarball and follow the instructions in the INSTALL file.
<li> Player users will need to install (or re-install) Player
<i>after</i> installing Gazebo.  To make use of the Gazebo drivers,
use the <tt>--enable-gazebo</tt> configuration option.  
</ul>

Compatability notes: 
<ul> 
<li> Gazebo is known to work with ODE versions 0.035 and 0.039, and
Player version 1.4rc1.
<li> Gazebo should work on any reasonable modern Linux distribution.
It has also been tested on Mac OS X 10.2 using the Apple X11 package
and Fink (see the manual for OS X specific build instructions).
</ul>

Installation example: for a default system-wide install (requires root
access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/usr/local/include/ode</tt> and the
library to <tt>/usr/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --enable-gazebo; make; make install </tt><br>
</ul> 

Installation example: for an alternate user-only install (does not
require root access), use the following steps...
<ul>
<li> Build ODE according to the instructions included with that
package.  Copy the header files to <tt>/home/username/local/include/ode</tt> and the
library to <tt>/home/username/local/lib</tt>.
<li> Install Gazebo:
<br><tt>  $ ./configure --prefix=/home/username/local; make; make install </tt><br>
<li> (Re-)Install Player
<br><tt>  $ ./configure --prefix=/home/username/local --enable-gazebo; make; make install </tt><br>
</ul>




